@model DataLayer.Table.ContactTable
<section id="Contact" class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>اطلاعات تماس</h3>

                    <ul class="footer-contact-info">
                        <li>
                            <i class="flaticon-phone-call"></i>
                            <span>@Model.ResponseTime</span>
                            <a href="javascript:void(0)">@Model.Numberphone</a>
                        </li>
                        <li>
                            <i class="fa fa-location-arrow"></i>
                            <a href="javascript:void(0)">آدرس:</a>
                            <span>@Model.Addres</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>نقشه</h3>

                    <ul class="footer-contact-info">
                        <li>
                            <i class="fa fa-search-location"></i>
                            <div class="col-12">
                                


                                <div id="mapid" style="height: 300px;"></div>
                                <script>
                                    var mymap = L.map('mapid').setView([31.58358, 54.44613], 13);
                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        minZoom: 5,
                                        maxZoom: 19,
                                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
                                    }).addTo(mymap);
                                    var marker = L.marker([@Model.Addres_X, @Model.Addres_Y]).addTo(mymap);
                                    marker.bindPopup("<p style='font-size: 12px'><b>ما اینجا هستیم</b></p>").openPopup();


                                </script>



                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p>طراحی شده توسط گروه برنامه نویسی  <a href="javascript:void(0)">شهید حسن یاوری</a></p>

                </div>

                
            </div>
        </div>
    </div>
</section>