<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="HTML5,CSS3,HTML,Template,Multi-Purpose,Creative Digital,Agency,Aronix - Creative Digital Agency HTML Template">
<meta name="description" content="Aronix - Creative Digital Agency HTML Template">
<meta name="author" content="Barat Hadian">

<!-- Bootstrap Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/bootstrap.min.css">
<!-- Animate Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/animate.min.css">
<!-- FlatIcon CSS -->
<link rel="stylesheet" href="UserTamplate/css/flaticon.css">
<!-- Odometer Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/odometer.min.css">
<!-- MeanMenu CSS -->
<link rel="stylesheet" href="UserTamplate/css/meanmenu.css">
<!-- Magnific Popup Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/magnific-popup.min.css">
<!-- Nice Select Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/nice-select.min.css">
<!-- Owl Carousel Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/owl.carousel.min.css">
<!-- Font Awesome Min CSS -->
<link rel="stylesheet" href="UserTamplate/css/fontawesome.min.css">
<!-- Boxicons CSS -->
<link rel="stylesheet" href="UserTamplate/css/boxicons.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="UserTamplate/css/style.css">
<!-- RTL CSS -->
<link rel="stylesheet" href="UserTamplate/css/rtl.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="UserTamplate/css/responsive.css">

<title>@ViewBag.Title</title>

<link rel="icon" type="image/png" href="UserTamplate/img/favicon.png">

<style>
    .leaflet-control-attribution {
        display: none !important;
    }

    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
        color: #e83e8c !important
    }
</style>
