<!-- META DATA -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sash – Bootstrap 5  Admin &amp; Dashboard Template">
<meta name="author" content="Spruko Technologies Private Limited">
<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="/AdminTamplate/images/brand/favicon.ico">

<!-- TITLE -->
<title>@ViewBag.Title</title>

<!-- BOOTSTRAP CSS -->

<link href="/AdminTamplate/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">

<link href="/AdminTamplate/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">
<link href="/AdminTamplate/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- STYLE CSS -->
<link href="/AdminTamplate/css/style.css" rel="stylesheet">
<link href="/AdminTamplate/css/dark-style.css" rel="stylesheet">
<link href="/AdminTamplate/css/transparent-style.css" rel="stylesheet">
<link href="/AdminTamplate/css/skin-modes.css" rel="stylesheet">

<!--- FONT-ICONS CSS -->
<link href="/AdminTamplate/css/icons.css" rel="stylesheet">

<!-- COLOR SKIN CSS -->
<link id="theme" rel="stylesheet" type="text/css" media="all" href="/AdminTamplate/colors/color1.css">

<link href="/AdminTamplate/font/vazir/Vazirmatn-UI-font-face.css" rel="stylesheet">

<link href="/AdminTamplate/font/vazir/Vazirmatn-UI-font-face.css" rel="stylesheet">
<!-- TOASTER -->
<link href="/AdminTamplate/plugins/tost/toastr.css" rel="stylesheet">