@using CoreLayer.ViewModel.Admin
@{
    ViewBag.title = "برند ها";
}
<br />
<div class="text-wrap mb-4">
    <div class="">
        <div class="alert alert-info">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
            <p><i style="font-size: 20px" class="fa fa-info-circle"></i> برای حذف برند روی آن کلیک کنید و برای افزودن برند دکمه افزودن را بزنید</p>
        </div>
    </div>
</div>

@if (ViewBag.Message == true)
{
    <br />
    <div class="text-wrap mb-4">
        <div class="">
            <div class="alert alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                <p><i style="font-size: 20px" class="fa fa-check"></i> عملیت با موفقیت انجام شد</p>
            </div>
        </div>
    </div>
}
else
  if (ViewBag.Message == false)
{
    <br />
    <div class="text-wrap mb-4">
        <div class="">
            <div class="alert alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                <p><i style="font-size: 20px" class="fa fa-close"></i> عملیات با خطا مواجه شد</p>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">برند ها</h3>
    </div>
    <div class="card-body">
        <div class="row">

            @{
                FileInfo BrandFileinfo;
                string Brandurl = "";
                int CountBrand = 0;
                string BranddirectoryPath = System.IO.Path.Combine("wwwroot", "Files", "FileBrands");
                if (!Directory.Exists(BranddirectoryPath))
                {
                    Directory.CreateDirectory(BranddirectoryPath);
                }
                foreach (string filename in Directory.GetFiles(BranddirectoryPath))
                {
                    CountBrand++;
                    BrandFileinfo = new FileInfo(filename);
                    Brandurl = "/Files/FileBrands/" + System.IO.Path.GetFileName(BrandFileinfo.FullName);

                    <div class="col-md-3 col-sm-6 card">
                        <img onclick="OpenDeleteBarand('@System.IO.Path.GetFileName(BrandFileinfo.FullName)')" src="@Brandurl" />
                    </div>

                }

                if (CountBrand == 0)
                {
                    <div class="section-title text-center">
                        <p class="MyPNot">برندی برای نمایش وجود ندارد وجود ندارد</p>
                    </div>
                }

            }



        </div>

        <div class="d-grid gap-2">
            <button onclick="OpenAddBarand()" class="btn btn-success btn-lg text-lg-center mb-1">افزودن برند</button>
        </div>

    </div>
</div>

@section Scripts
    {
    <div class=" modal fade " id="ModalDeleteBrand" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 id="MyModalTitle" class="modal-title">حذف برند</h6>
                    <a onclick="CloseModal()" title="بستن"><i style="font-size: 25px" class="text-danger fa fa-close"></i></a>
                </div>

                <div class="modal-body">
                    <div>

                        <h4 class="text-center text-danger"><i class="text-warning fa fa-warning"></i> آیا از حذف این برند اطمینان دارید؟</h4>

                    </div>
                    <div class="modal-footer">
                        <a onclick="DeleteBarand()" class="text-white btn btn-danger">حذف</a>
                        <a onclick="CloseModal()" class="text-white btn btn-info">انصراف</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class=" modal fade " id="ModalAddBrand" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">افزودن برند</h6>
                    <a onclick="CloseAddModal()" title="بستن"><i style="font-size: 25px" class="text-danger fa fa-close"></i></a>
                </div>
                <partial name="AddBrandPartialView" model="new AddBrandViewModel()"/>
            </div>

        </div>
    </div>


    <input type="hidden" id="InputNameFile" />

    <script>

        function CloseModal() {
            $("#ModalDeleteBrand").modal("hide");
        }

        function CloseAddModal() {
            $("#ModalAddBrand").modal("hide");
        }

        function OpenDeleteBarand(NameFile) {
            $("#InputNameFile").val(NameFile);
            $("#ModalDeleteBrand").modal("show");
        }

        function DeleteBarand() {
            $("#ModalDeleteBrand").modal("hide");

            var NameFile = $("#InputNameFile").val();
            window.location.href = "/admin/delete/brand/" + NameFile;
            
        }

        function OpenAddBarand() {
            $("#ModalAddBrand").modal("show");
        }


    </script>
}
