@model CoreLayer.ViewModel.Admin.AboutViewModel
@{
    ViewBag.Title = "ویرایش درباره ما";
}

<br/>

@if (ViewBag.message!=null)
{
    @if (ViewBag.message == true)
    {
        <br />
        <div class="text-wrap mb-4">
            <div class="">
                <div class="alert alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                    <p><i style="font-size: 20px" class="fa fa-check"></i> عملیت با موفقیت انجام شد</p>
                </div>
            </div>
        </div>
    }
    else
        if (ViewBag.message == false)
        {
            <br />
            <div class="text-wrap mb-4">
                <div class="">
                    <div class="alert alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                        <p><i style="font-size: 20px" class="fa fa-close"></i> عملیات با خطا مواجه شد</p>
                    </div>
                </div>
            </div>
        }
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">ویرایش درباره ما</h3>
    </div>
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Home" asp-action="About" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imege"></label>
                <input asp-for="Imege" class="form-control">
                <span class="text-danger" asp-validation-for="Imege"></span>
                @if (ViewBag.existsimg == true)
                {
                    <span style="color: green"><i class="fa fa-check"></i>&nbsp;عکس وجود دارد!</span>
                }
                else
                {
                    <span style="color: red"><i class="fa fa-close"></i>&nbsp;عکس وجود ندارد!</span>

                }
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg text-lg-center mb-1">ویرایش درباره ما</button>
            </div>
        </form>
    </div>
</div>

