@model CoreLayer.ViewModel.Admin.ContactViewModel
@{
    ViewBag.Title = "ویرایش تماس با ما";
}
<br />

@if (ViewBag.message != null)
{
    @if (ViewBag.message == true)
    {
        <br />
        <div class="text-wrap mb-4">
            <div class="">
                <div class="alert alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                    <p><i style="font-size: 20px" class="fa fa-check"></i> عملیت با موفقیت انجام شد</p>
                </div>
            </div>
        </div>
    }
    else
       if (ViewBag.message == false)
    {
        <br />
        <div class="text-wrap mb-4">
            <div class="">
                <div class="alert alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                    <p><i style="font-size: 20px" class="fa fa-close"></i> عملیات با خطا مواجه شد</p>
                </div>
            </div>
        </div>
    }
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">ویرایش تماس با ما</h3>
    </div>
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Home" asp-action="Contact">
            <div class="form-group">
                <label asp-for="Numberphone"></label>
                <input asp-for="Numberphone" class="form-control">
                <span class="text-danger" asp-validation-for="Numberphone"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseTime"></label>
                <input asp-for="ResponseTime" class="form-control">
                <span class="text-danger" asp-validation-for="ResponseTime"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addres"></label>
                <input asp-for="Addres" class="form-control">
                <span class="text-danger" asp-validation-for="Addres"></span>
            </div>
            <input id="Addres_X" type="hidden" asp-for="Addres_X" />
            <input id="Addres_Y" type="hidden" asp-for="Addres_Y" />
            <div id="mapid" style="height: 500px;"></div>
            <div class="d-grid gap-2">
                <br/>
                <button type="submit" class="btn btn-success btn-lg text-lg-center mb-1">ویرایش تماس با ما</button>

            </div>
        </form>
    </div>
</div>





<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script>
    var mymap = L.map('mapid').setView([@Model.Addres_X,@Model.Addres_Y], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
    }).addTo(mymap);
    var marker = L.marker([@Model.Addres_X,@Model.Addres_Y]).addTo(mymap);
    marker.bindPopup("<b>نقطه مشخص شده</b>").openPopup();
    var marker;
    mymap.on('click',
        function (e) {
            if (marker) {
                mymap.removeLayer(marker);
            }
            marker = new L.Marker(e.latlng).addTo(mymap);
            var lat = e.latlng.lat;
            var lon = e.latlng.lng;
            $("#Addres_X").val(lat);
            $("#Addres_Y").val(lon);

        });
</script>