@model CoreLayer.ViewModel.Admin.ContactViewModel
@{
    ViewBag.Title = "ویرایش تماس با ما";
}
<br/>

@if (ViewBag.message!=null)
{
    @if (ViewBag.message == true)
    {
        <div class="text-wrap mb-4">
            <div class="">
                <div class="alert alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                    <span class=""><svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 24 24"><path fill="#13bfa6" d="M10.3125,16.09375a.99676.99676,0,0,1-.707-.293L6.793,12.98828A.99989.99989,0,0,1,8.207,11.57422l2.10547,2.10547L15.793,8.19922A.99989.99989,0,0,1,17.207,9.61328l-6.1875,6.1875A.99676.99676,0,0,1,10.3125,16.09375Z" opacity=".99"></path><path fill="#71d8c9" d="M12,2A10,10,0,1,0,22,12,10.01146,10.01146,0,0,0,12,2Zm5.207,7.61328-6.1875,6.1875a.99963.99963,0,0,1-1.41406,0L6.793,12.98828A.99989.99989,0,0,1,8.207,11.57422l2.10547,2.10547L15.793,8.19922A.99989.99989,0,0,1,17.207,9.61328Z"></path></svg></span>
                    <hr class="message-inner-separator">
                    <p>ویرایش با موفقیت انجام شد.</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-wrap">
            <div class="">
                <div class="alert alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                    <span class=""><svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 24 24"><path fill="#f07f8f" d="M20.05713,22H3.94287A3.02288,3.02288,0,0,1,1.3252,17.46631L9.38232,3.51123a3.02272,3.02272,0,0,1,5.23536,0L22.6748,17.46631A3.02288,3.02288,0,0,1,20.05713,22Z"></path><circle cx="12" cy="17" r="1" fill="#e62a45"></circle><path fill="#e62a45" d="M12,14a1,1,0,0,1-1-1V9a1,1,0,0,1,2,0v4A1,1,0,0,1,12,14Z"></path></svg></span>
                    <hr class="message-inner-separator">
                    <p>در مراحل ویرایش خطایی پیش آمده است دوباره تلاش کنید.</p>
                </div>
            </div>
        </div>
    }
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">ویرایش تماس با ما</h3>
    </div>
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Home" asp-action="Contact">
            <div class="form-group">
                <label asp-for="Numberphone"></label>
                <input asp-for="Numberphone" class="form-control">
                <span class="text-danger" asp-validation-for="Numberphone"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseTime"></label>
                <input asp-for="ResponseTime" class="form-control">
                <span class="text-danger" asp-validation-for="ResponseTime"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addres"></label>
                <input asp-for="Addres" class="form-control">
                <span class="text-danger" asp-validation-for="Addres"></span>
            </div>
            <input id="Addres_X" asp-for="Addres_X" />
            <input id="Addres_Y" asp-for="Addres_Y" />
            <div id="mapid" style="height: 500px;"></div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg text-lg-center mb-1">ویرایش تماس با ما</button>
            </div>
        </form>
    </div>
</div>


        


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script>
    var mymap = L.map('mapid').setView([@Model.Addres_X,@Model.Addres_Y], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
    }).addTo(mymap);
    var marker = L.marker([@Model.Addres_X,@Model.Addres_Y]).addTo(mymap);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    var marker;
    mymap.on('click',
        function (e) {
            if (marker) {
                mymap.removeLayer(marker);
            }
            marker = new L.Marker(e.latlng).addTo(mymap);
            var lat = e.latlng.lat;
            var lon = e.latlng.lng;
            $("#Addres_X").val(lat);
            $("#Addres_Y").val(lon);

        });
</script>