<!doctype html>
<html lang="fa">
<head>
    <partial name="PartUserLayout/_StylePartUserLayout" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Navbar Area -->
    <partial name="PartUserLayout/_HeaderPartUserLayout" />
    <!-- End Navbar Area -->
    <!-- Sidebar Modal -->
    @*<partial name="PartUserLayout/_MenuPartUserLayout" />*@
    <!-- End Sidebar Modal -->
    @RenderBody()

    <!-- Start Footer Area -->
    @await Component.InvokeAsync("FooterComponent")
    <!-- End Footer Area -->

    <div class="go-top"><i class="fas fa-chevron-up"></i></div>

    <partial name="PartUserLayout/_ScriptPartUserLayout" />

    <script src="\jquery.validate.min.js"></script>
    <script src="\jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("ButtonPage",false)

</body>

</html>