@{
    Layout = null;
}
<div class=" modal fade " id="MyModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 id="MyModalTitle" class="modal-title"></h6>
                <a onclick="CloseModal()" title="بستن"><i style="font-size: 25px" class="text-danger bx bx-x-circle"></i></a>
            </div>

            <div class="modal-body">
                <div id="MyModalDiv">
                </div>
                <div class="modal-footer">
                    <a onclick="CloseModal()" class="text-white btn btn-danger">بستن</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    //Modal

    function CloseModal() {
        $("#MyModal").modal("hide");
    }

    function ShowModal(data, title) {

        $("#MyModalDiv").html(data);
        $("#MyModalTitle").text(title);
        $("#MyModal").modal("show");
    }
</script>